@font-face {
    font-family: MavenPro;
    src: url(./fonts/MavenPro/MavenProLight-300.otf);
}

$primary-font: MavenPro;
$primary-font-color: #06D6A0;
$text-color: #e2e2e2;
$light-grey: #ECEFF1;
$slate: #607D8B;
$dark-blue: #073B4C;
$blue: #118AB2;
$teal: #A4F0DC;
$aqua: #00CECB;
$green: #66BB6A;
$yellow: #FFD166;
$red: #EF476F;

/* Material Design Box-Shadows */

$z-depth-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$z-depth-1-half: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
$z-depth-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
$z-depth-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
$z-depth-4: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
$z-depth-5: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

/* Bootstrap Mobile Grid Breakpoints (for Reference Only) */

$xs-mobile: (max-width: 480px);
$sm-mobile: ((min-width: 480px) and (max-width: 768px));
$md-mobile: ((min-width: 768px) and (max-width: 1024px));
$lg-mobile: (min-width: 1024px);

$xs-to-sm-mobile: (max-width: 768px);
$sm-to-md-mobile: ((min-width: 480px) and (max-width: 1024px));
$md-to-lg-mobile: (min-width: 768px);